<div
  class="d-flex card mb-4"
  style="width: 600px; height: auto; margin-left: 45%"
>
  <div class="card-header">Add Comment</div>

  <div class="card-body">
    <form [formGroup]="commentInputs" (ngSubmit)="addComments()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="author"
        />
      </div>

      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea
          class="form-control"
          formControlName="body"
          id="body"
          rows="2"
        ></textarea>
      </div>

      <button
        type="submit"
        class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Add
      </button>
    </form>
  </div>
</div>
