<div class="comm-section">
  <div class="body" *ngFor="let detail of details">
    <img src="/assets/images/user.jpeg" />
    <div class="text">
      <h4>
        {{ detail.name }}
      </h4>

      <p>
        {{ detail.body }}
      </p>
    </div>
  </div>
</div>

<div class="add-comm">
  <h2>Add Comment</h2>
  <div class="com-body">
    <img src="/assets/images/user.jpeg" />
    <div class="com-inputs">
      <label>Name </label>
      <input type="text" />
      <label>Body </label>
      <input type="text" />
    </div>
  </div>
</div>
