<div *ngIf="!editMode">view</div>
<div *ngIf="editMode">EDIT</div>

<button (click)="startEdit()" type="button">Edit</button>

<div class="comm-section">
  <div class="body" *ngFor="let comm of comments">
    <img src="/assets/images/user.jpeg" />
    <div class="text">
      <h4>
        {{ comm.name }}
      </h4>

      <p>
        {{ comm.body }}
      </p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center my-4">
  <button
    (click)="toggleAddComments()"
    class="btn btn-secondary"
    style="width: 150px; height: 40px"
  >
    Add Comments
  </button>
</div>
<app-addcomments *ngIf="showComments"></app-addcomments>
