<div class="comm-section">
  <div class="body" *ngFor="let comment of comments">
    <span class="inline-block h-full w-25 overflow-hidden bg-gray-100">
      <svg
        class="h-full w-full text-gray-300"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
        />
      </svg>
    </span>
    <div class="text">
      <h4>
        {{ comment?.name }}
      </h4>

      <p>
        {{ comment?.body }}
      </p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center my-4">
  <button
    (click)="toggleAddComments()"
    class="btn btn-secondary"
    style="width: 150px; height: 40px"
  >
    Add Comments
  </button>
</div>
<app-addcomments *ngIf="showComments"></app-addcomments>
