<div class="container-fluid bg-white">
  <div class="container">
    <div class="d-flex justify-content-center my-4">
      <button (click)="toggleAddPost()" class="btn btn-secondary">
        <i class="fa fa-plus"></i>
        Add Post
      </button>
    </div>

    <app-addpost *ngIf="showAddPost"></app-addpost>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th colspan="2">Body</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>Leane Graham</td>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>
            <a [routerLink]="['/details', post.id]" class="btn btn-primary">
              Details
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
