.photo-album {
  max-width: 80%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.photo-album img {
  width: 90%;
  height: 90%;
}

.album-details {
  max-width: 300px;
  height: auto;
  margin-bottom: 60px;
}

.album-details span {
  color: rgb(32, 97, 194);
}
