<div class="card d-flex m-auto mb-4" style="width: 700px; height: auto">
  <div class="card-header">Create Post</div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="addPosts()">
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input
          type="text"
          formControlName="author"
          class="form-control"
          id="author"
        />
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          formControlName="title"
          class="form-control"
          id="title"
        />
      </div>

      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea
          class="form-control"
          formControlName="body"
          id="body"
          rows="3"
        ></textarea>
      </div>

      <button
        type="submit"
        class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Create
      </button>
    </form>
  </div>
</div>
