<header>
  <div class="back">
    <div class="title">
      <h1>JSON <span>Placeholder</span></h1>
      <p>Angular App</p>
    </div>

    <img src="/assets/images/back.jpeg" alt="#" />
  </div>

  <div class="icons">
    <div class="icon-div" routerLink="/posts">
      <img src="/assets/images/sticky-notes.png" alt="" />
      <h4>Posts</h4>
    </div>
    <div class="icon-div" routerLink="/albums">
      <img src="/assets/images/image.png" alt="" />
      <h4>Albums</h4>
    </div>
    <div class="icon-div" routerLink="/todos">
      <img src="/assets/images/to-do-list (1).png" alt="" />
      <h4>Todos</h4>
    </div>
  </div>
</header>
