<header>
  <div class="back">
    <div class="title">
      <h1>JSON <span>Placeholder</span></h1>
      <p>Angular App</p>
    </div>

    <img src="/assets/images/back.jpeg" alt="#" />

    <div class="w-50 d-flex m-auto">
      <div
        class="w-25 mx-auto"
        style="
          width: 200px;
          height: 200px;
          background-color: #eee;
          height: 200px;
        "
      >
        <i
          class="fa-solid fa-envelopes-bulk fs-3 text-center"
          style="color: black"
          >Posts</i
        >
      </div>
      <div
        class="w-25 mx-auto"
        style="
          width: 200px;
          height: 200px;
          background-color: #eee;
          height: 200px;
        "
      >
        <i class="fa-solid fa-images fs-3" style="color: black"> Albums</i>
      </div>
      <div
        class="w-25 mx-auto"
        style="
          width: 200px;
          height: 200px;
          background-color: #eee;
          height: 200px;
        "
      >
        <i class="fa-solid fa-square-check fs-3" style="color: black">Todos</i>
      </div>
    </div>
  </div>
</header>
